body {
  background-color: #dcdcdc;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.header {
  background: linear-gradient(90deg, #4b007d, #c04dff);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  color: white;
  font-weight: 600;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-top: 10px;
}

input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  margin-top: 20px;
  background: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4b007d;
}
